<!DOCTYPE html>
<html lang="en">
    <html lang="en" dir="ltr">

    <head>
      <meta charset="UTF-8">
      <title> An Academic Search Engine</title>
      <link rel="stylesheet" href="static/contact_style.css">

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lemon' rel='stylesheet'>

      <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>  

      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

<link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>

      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body> 
      <header>
        <form class="form-inline">
        <nav class="navbar">
            <div class="logo">
                <a href="/" style="margin-top: -60px;">
                    <img src="static/images/searching-search-logo.png">Scholarly
                </a>
            </div> 
        </nav>
       
        </form> 
      </header> 

        <section class="main_section">
          
            <div class="container" id="search_error_container">      
              <div class="page_title">
                <h1 style="font-family: 'Lemon'; font-size:4.5rem;">Contact Us</h1>
              </div>      
              <div class="row" style="justify-content:center; align-items:center;">
                      <img src="static/images/contact-gif.gif" style="width: 60%;">
              </div>
          </div>

          <div class="container" id="creator_profile_container">   

            <div class="skeleton">
              <div class="skeleton-img">
                <img src="static/images/girl_profile.gif" style="width: 100%;">
              </div>
              <div class="skeleton-text">
                  <h3 class="skeleton-title">Monika Anabathula</h3>
                  <p class="skeleton-description">
                    <span>Final Year | Computer Engineering</span>
                    <span>Xavier Institute of Engineering</span>
                  </p>
                  <ul class="skeleton-skills">
                    <div class="container">
                    <a href="https://github.com/amonikag" target="_blank" class="button github"><span><i class="fa fa-github" aria-hidden="true"></i></span><p>Github</p></a>
                    <a href="https://www.linkedin.com/in/monika-anabathula/" target="_blank" class="button linkedin"><span><i class="fa fa-linkedin" aria-hidden="true"></i></span><p>Linkedin</p></a>
                    </div>
                  </ul>
                  
              </div>
            </div> 

            <div class="skeleton">
              <div class="skeleton-img">
                <img src="static/images/boy_profile.gif" style="width: 100%;">
              </div>
              <div class="skeleton-text">
                  <!-- <h2 class="skeleton-title"></h2> -->
                  <h3 class="skeleton-title">Rahul Anandraj</h3>
                  <p class="skeleton-description">
                    <span>Final Year | Computer Engineering</span>
                    <span>Xavier Institute of Engineering</span>
                  </p>
                  <ul class="skeleton-skills">
                    <div class="container">
                      <a href="https://github.com/123-rahul-anandraj" target="_blank" class="button github"><span><i class="fa fa-github" aria-hidden="true"></i></span><p>Github</p></a>
                      <a href="https://www.linkedin.com/in/rahul-anandraj-2a1485208/" target="_blank" class="button linkedin"><span><i class="fa fa-linkedin" aria-hidden="true"></i></span><p>Linkedin</p></a>
                      </div>
                  </ul>
                  
              </div>
            </div> 

            <div class="skeleton">
              <div class="skeleton-img">
                <img src="static/images/girl_profile.gif" style="width: 100%;">
              </div>
              <div class="skeleton-text">
                <h3 class="skeleton-title">Sneha Suzan</h3>
                <p class="skeleton-description">
                  <span>Final Year | Computer Engineering</span>
                  <span>Xavier Institute of Engineering</span>
                </p>
                <ul class="skeleton-skills">
                  <div class="container">
                  <a href="https://github.com/Sneha081101" target="_blank" class="button github"><span><i class="fa fa-github" aria-hidden="true"></i></span><p>Github</p></a>
                  <a href="https://www.linkedin.com/in/sneha-suzan-61662721b/" target="_blank" class="button linkedin"><span><i class="fa fa-linkedin" aria-hidden="true"></i></span><p>Linkedin</p></a>
                  
                  </div>
              </div>
            </div> 

          </div>

        </section>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>

  </html>