<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> An Academic Search Engine</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="logo"><img src="static/images/new-search-logo.png"><a href="#" style="margin-top: -60px;">Scholarly</a></div>

      <div class="buttons">
        <input type="button" value="About Us">
        <input type="button" value="Contact">
      </div>
    </nav>
    <div class="text-content">
      <h2>Welcome to Scholarly,<br>An Academic Search Engine</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum facere in nam, officiis aspernatur
        consectetur aliquid sequi possimus et. Sint.</p>
    </div>
    <div class="box">
      <div class="search-arrow">
        <h2>Search it here</h2> <img src="static/images/down_arrow.gif">
      </div>
      <div class="search-box" style="margin-top:-17px;">
        <!-- <input type="text" placeholder="Search" style="margin-top:-30px;"> -->
        <a href="" style="text-decoration: none;">
          <span id="search-span" style="width:8em;">Type Keywords...</span>
          <label for="" class="icon">
            <i class="fas fa-search"></i>
          </label>
        </a>
      </div>
    </div>

    <div class="imgbx">
      <img src="static/images/ezgif.com-gif-maker.gif">
    </div>


  </header>

</body>

</html>