<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title> An Academic Search Engine</title>
  <link rel="stylesheet" href="/static/style.css">
  <link href='https://fonts.googleapis.com/css?family=Aladin' rel='stylesheet'>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="logo"><img src="static/images/new-search-logo.png"><a href="#" style="margin-top: -60px;">Scholarly</a></div>

      <div class="buttons">
        <button class="btn btn-outline-primary" value="About Us" onclick = "window.location.href='about.html;"><a href="about.html" style="text-decoration: none;">About</a></button>
        <button class="btn btn-outline-primary" value="Contact" onclick = "window.location.href='contact.html';"><a href="contact.html" style="text-decoration: none;">Contact</a></button>
      </div>
    </nav>
    <div class="text-content">
      <h2>Welcome to Scholarly,<br>An Academic Search Engine</h2>
      <p>Look out for any scholarly professors around the world that can guide you or mentor you towards technical development of oneself and for better carrier prospects.</p>
    </div>
    <div class="box">
      <div class="search-arrow">
        <h2>Search it here</h2> <img src="static/images/down_arrow.gif">
      </div>
      <div class="search-box" style="margin-top:-3px;">
        <a href="searching.html" style="text-decoration: none;">
          <span id="search-span" style="width:8em;">Type Keywords...</span>
          <label for="" class="icon">
            <i class="fas fa-search"></i>
          </label>
        </a>
      </div>
    </div>

    <div class="imgbx">
      <img src="static/images/ezgif.com-crop.gif">
    </div>


  </header>

</body>

</html>